####################################
####################################
# Welcome to PCv2 config file
# Enter list of parameters separated with value of parameter by ':'
# Not following this rule may cause improper update of config
# 
target:75
hister:3
maxInc:8
maxIncHist:1
maxDec:4
maxDecHist:1
changeThresh:1
maxMissing:3
window:8
#
#
#
#
#
